body{
    text-align: left;
    background-color: wheat;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#Profile_button{
    background-color: turquoise;
    color: black;
    text-decoration: solid;
    text-align: relative;
    font-size: 15pt;
    border-color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#Profile_button:hover{
    background-color: grey ;
    cursor: pointer;
}
 
#picture_button{
    background-color: turquoise;
    color: black;
    font-size: 15pt;
    border-color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
#picture_button:hover{
    background-color: grey ;
    cursor: pointer;
}
#pic{
   width: 200px;
   border-radius: 100px;
}
